spring:
  datasource:
    url: jdbc:mysql://matt.cpacw9fl5njb.ap-northeast-2.rds.amazonaws.com:3306/matt
    username: admin
    password: admin0810
    driver-class-name: com.mysql.cj.jdbc.Driver
  mail:
    host: smtp.naver.com #smtp 서버 주소
    port: 465 # 메일 인증서버 포트
    username: vkdnjdjxor #네이버 아이디
    password: jhs993010! #네이버 비밀번호
    properties:
      mail:
        smtp:
          starttls:
            enable: true
          #            required: true
          auth: true
          #          connectiontimeout: 5000
          #          timeout: 5000
          #          writetimeout: 5000
          ssl:
            #trust: smtp.naver.com
            enable: true #반드시 필요 -> SSL 필요로 되어있으면
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
logging:
  level:
    #    org.hibernate.sql: debug
    org.hibernate.type: trace

server:
  servlet:
    session:
      tracking-modes: cookie
  port: 8999
